.navbar-default {
    background-image: none;
    background-color: #222;
    border-color: #e7e7e7;
}

.navbar-brand, .navbar-nav>li>a {
    text-shadow: none;
}

.navbar-default .navbar-brand {
    color: #777;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #fff;
}